//font-family
$font-family-roboto: 'Roboto', Arial, sans-serif;

// Colors
$main-bg-color: #FFFFF;
$primary-color: #474747;
$secondary-color-yellow: #FDD121;
$secondary-color-blue: #575FFB;
$danger-color: #FF4848;
$color-lynx-white: #F7F7F7;
$color-grayLight: #D9D9D9;
$color-grayLighter: #9F9D9D;


$colorOrange: #F58500;
$colorBlue: #3A7EB5;
$colorDarkBlue: #003192;
$colorStartBlue: #4D59BE;
$colorGreen: #016E46;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorLightBlack: #393939;
$colorDarkGrey: #555555;
$colorDarkGreyOp2: #5553;
$colorLightGrey: #EDEDED;
$colorRed: #FF3C3C;
$colorYellow: #FFA800;
$colorYellowBtn: #FABB02;
$colorError: #b94a48; /*Validation errors Color*/
$colorValid: #02b875;/*Valid color*/


//Font Sizes
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize20: 20px;

//Sizes
$roundedBorderRadius: 2px;
$formBoxShadow: 0 4px 4px 0px #00000040; /*Opacity .25*/
$textSizeLarge: 1.8rem;
$textSizeMedium: 1.5rem;
$textSizeNormal: 1rem;


// Breakpoints
$breakpoints: (
  'min-phone': ( min-width: 576px ),
  'min-small': ( min-width: 768px ),
  'min-medium': ( min-width: 992px ),
  'min-large': ( min-width: 1025px ),
  'min-xlarge': ( min-width: 1200px ),
  'min-xxlarge': ( min-width: 1400px ),

  'max-phone': ( max-width: 575px ),
  'max-large': ( max-width: 1024px ),

 ) !default;

