@import 'styles.variables.scss';

/* Loading Spinner */
.spinner {
  position: fixed;
  left: 55%;
  top: 50%;
  height: 40px;
  width: 40px;
  margin-left: -30px; /* center the spinner */
  margin-top: -30px;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid rgba(0,174,239,.15);
  border-right: 6px solid rgba(0,174,239,.15);
  border-bottom: 6px solid rgba(0,174,239,.15);
  border-top: 6px solid rgba(0,174,239,.8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/* Navigation */
a.navbar-brand {
  white-space: normal;
  word-break: break-all;

  & > img {
    width: 50%;
  }
}

nav.navbar {
  background: $navBarLinearGradient;
}

nav#sidebarMenu {
  background: $sideBarLinearGradient;
  min-height: 90vh;
}
