// Colors
$colorOrange: #F58500;
$colorBlue: #3A7EB5;
$colorDarkBlue: #003192;
$colorStartBlue: #4D59BE;
$colorGreen: #016E46;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorLightBlack: #393939;
$colorDarkGrey: #555555;
$colorDarkGreyOp2: #5553;
$colorLightGrey: #EDEDED;
$colorRed: #FF3C3C;
$colorYellow: #FFA800;
$colorYellowBtn: #FABB02;
$colorError: #b94a48; /*Validation errors Color*/
$colorValid: #02b875;/*Valid color*/

$navBarLinearGradient: linear-gradient(102.07deg, #04BFBF 2.43%, #04BFBF 26.44%, #04ADBF 53.56%, #00C0F4 75.44%, #00AAFF 96.56%, #0A60E4 130.01%, #0F3AD6 146.3%);
$sideBarLinearGradient: linear-gradient(46.86deg, #05BABF 42.97%, #0D5BE2 112.28%);

// Sizes
$roundedBorderRadius: 2px;
$formBoxShadow: 0 4px 4px 0px #00000040; /*Opacity .25*/
$textSizeLarge: 1.8rem;
$textSizeMedium: 1.5rem;
$textSizeNormal: 1rem;
