@import '../../../../sass/styles.variables.scss';

ul.nav-tabs {
  background-color: $color-lynx-white;
  border: 1px solid $color-grayLight;
  border-radius: 0.5rem .5rem 0rem 0rem;

  li {
    a {
      background-color: inherit;
      border: none;
      font-weight: bold;
      align-items: center;
      color: $color-grayDark;

      &:active, &:focus, &:hover {
        line-height: 16px;
        color: $primary-color;
      }
    }
  }
}
