<div *ngIf="service.loading$ | async" class="spinner" id="spinner"></div>

<div class="d-flex flex-column w-100 pt-3 mt-4">
  <h1 class="page-title m-0" id="tableLabel">Programs</h1>
  <a class="text-right primary-color" [routerLink]="['/admin/schools/programs/details/', 0, 'add']">Add new program<i class="fas fa-lg fa-plus-circle secondary-color-blue ml-2"></i></a>

  <div class="data-list-container rounded-lg mt-2 mb-3">
    <form class="d-flex flex-row justify-content-between p-2">
      <div class="form-inline">
        <b>Filter Results</b><i class="fas fa-lg fa-sliders-h ml-3"></i>
      </div>
      <div class="form-inline">
        <b>Full text search: </b><input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />
        <span *ngIf="service.loading$ | async">Loading...</span>
      </div>
    </form>

    <table class="table table-borderless data-list-table mb-0" aria-labelledby="tableLabel">
      <thead>
        <tr>
          <th scope="col" sortable="id" (sort)="onSort($event)">Program ID</th>
          <th scope="col" sortable="programName" (sort)="onSort($event)">Program Name</th>
          <th scope="col" sortable="category" (sort)="onSort($event)">Category</th>
          <th scope="col" sortable="province" (sort)="onSort($event)">Province</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let program of dataSource$ | async" class="m-lg-2">
          <td aria-label="Program ID">{{ program.id }}</td>
          <td aria-label="Program Name">{{ program.programName }}</td>
          <td aria-label="Category">{{ program.programCategoryId }}</td>
          <td aria-label="Province">{{ program.province }}</td>

          <td aria-label=" ">
            <a class="secondary-color-blue table-action-icon" [routerLink]="['/admin/schools/programs/details/', program.id, 'view']"><i class="fas fa-lg fa-edit"></i></a>
            <a class="danger-color table-action-icon ml-3" (click)="onDeleteClick($event, program)"><i class="fas fa-lg fa-trash-alt"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ngb-pagination class="d-flex justify-content-end" [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
  </ngb-pagination>
</div>
<app-confirm-modal entityName="Program Profile" (onOpenModal)="onOpenModal($event)" [openModal]="isOpenConfirmModal"></app-confirm-modal>
