<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <a class="btn border-0 p-0" id="dropdownBasic1" ngbDropdownToggle><i class="fas fa-lg fa-user-circle secondary-color-blue"></i>&nbsp;{{navDropDownHeader}}</a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let item of navDropDownItems" ngbDropdownItem [routerLink]="[item.url]" [state]='{ local: true }'><i class="{{item.icon}}"></i>{{item.title}}</button>
      </div>
    </div>
  </div>
</div>
