<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header flex-column align-items-center border-0">
    <button type="button" class="ml-auto bg-transparent border-0" aria-label="Close" (click)="d('close')">
      <i class="fas fa-2x fa-times-circle color-grayLight" aria-hidden="true"></i>
    </button>
    <div class="font-weight-bold danger-color">
      <i class="fas fa-3x fa-trash-alt"></i>
    </div>
    <h6 class="modal-title font-weight-bold pt-3" id="modal-basic-title">You are about to delete {{entityName}}</h6>

  </div>
  <div class="modal-body text-center p-0">
    <p>
      This will delete the {{entityName}} from the entire database
      <br />Are you sure?
    </p>
  </div>
  <div class="modal-footer border-0 p-4">
    <button type="button" class="primary-color align-self-center font-weight-bold border-0 bg-transparent pr-3" (click)="d('cancel')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="c('confirmed')">Delete</button>
  </div>
</ng-template>
