<header>
  <nav class="navbar justify-content-end mt-4 p-0">
    <div class="mr-2">
      <a id="userNotifyBadge" class="notification">
        <i class="fas fa-lg fa-bell secondary-color-blue"></i><span class="d-flex badge">5</span>
      </a>
      <div id="userNotifyMessages" class="fms-notify-message-box d-none">
        <ul></ul>
      </div>
    </div>
    <app-navigation-dropdown [navDropDownHeader]="[navDropDownTitle]" [navDropDownItems]="navDropDownList"></app-navigation-dropdown>
  </nav>
</header>
